$color_1: #000;
$color_2: white;
$color_3: #7E8CD8;
$color_4: #fff;
$font-family_1: montserrat;
$font-family_2: 'Montserrat';
$background-color_1: #7E8CD8;
$background-color_2: #edf2fb;
$background-color_3: #b8c0ff;
$background-color_4: #04AA6D;
$background-color_5: #45a049;